* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;

    gap: 20px;

    flex-direction: column;
    justify-content: center;
    align-items: center;

    background: #181A1B;

    color: #F1F1F1;
}

.card {
    background-color: #202324;
    width: 95%;

    display: flex;
    flex-direction: column;
    text-align: center;

    text-decoration: none;
}

.card img {
    width: 100%;
    height: 150px;

    object-fit: cover;
    object-position: 80% 0;
}

.card div {
    display: flex;
    flex-direction: column;

    padding: 10px 0;
}

.card #name {
    font-size: 24px;
    color: #F1F1F1;
}

.card #type {
    font-size: 18px;
    color: #A1A1A1;
}

.card #aval {
    font-size: 12px;
    margin-top: 12px;
    color: #717171;
}


#askButton{
    display: flex;
    flex-direction: column;
    text-align: left;

}